asgiref==3.8.1
attrs==23.2.0
black==24.8.0
cachetools==5.5.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
Django==5.0.7
django-environ==0.11.2
django-filter==24.3
django-wait-for-db==1.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
environ==1.0
filelock==3.16.1
flake8==7.1.1
flake8-annotations==2.9.1
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
idna==3.7
Markdown==3.6
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pep8-naming==0.14.1
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
psycopg==3.2.1
psycopg-binary==3.2.1
pycodestyle==2.12.1
pydotplus==2.0.2
pyflakes==3.2.0
PyJWT==2.9.0
pyparsing==3.1.2
pyproject-api==1.7.2
python-dotenv==1.0.1
requests==2.32.3
setuptools==72.1.0
sqlparse==0.5.1
tox==4.19.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.5
